<h2>Your feed `<%= @feed.title %>' was created.</h2>

<p>All you have to do now is sign up for the newsletter with the e-mail `<%= @feed.token %>@<%= request.host %>' and subscribe to the feed in <%= link_to feed_url(@feed, :rss), feed_url(@feed, :rss) %>.</p>

<p>Please, take note of those addresses, this is the last time they're going to be available to you.</p>
