<header>
  <h1>Kill the newsletter!</h1>

  <p>Convert newsletters into RSS feeds.</p>

  <%= simple_form_for @feed  do |form| %>
    <%= form.input :title %>
    <%= form.button :submit %>
  <% end %>
</header>
