<header>
  <h1>Kill the newsletter!</h1>

  <p>Convert newsletters into RSS feeds.</p>

  <% if flash.alert %>
    <div class="alert alert-danger" role="alert"><%= flash.alert %></div>
  <% end %>

  <%= simple_form_for @feed do |form| %>
    <%= form.input :title %>
    <%= form.button :submit %>
  <% end %>
</header>
